@each $name, $hex in $colors {
  .#{$name},
  .hover-#{$name}:hover,
  .focus-#{$name}:focus,
  .active-#{$name}:active,
  table.#{$name} th,
  table.#{$name} td,
  table.hover-#{$name} tbody tr:hover,
  .even-striped.stripe-#{$name} tbody tr:nth-of-type(even),
  .odd-striped.stripe-#{$name} tbody tr:nth-of-type(odd) {
    background-color: $hex;
  }
  .#{$name}-text,
  .hover-#{$name}-text:hover,
  .focus-#{$name}-text:focus,
  .active-#{$name}-text:active {
    color: $hex;
  }
  .#{$name}-border,
  .hover-#{$name}-border:hover,
  .focus-#{$name}-border:focus,
  .active-#{$name}-border:active {
    border-color: $hex;
  }
}
